[submodule "themes/modern"]
	path = themes/modern
	url = https://github.com/webmandesign/modern
[submodule "plugins/co-authors-plus"]
	path = plugins/co-authors-plus
	url = https://github.com/Automattic/Co-Authors-Plus
[submodule "plugins/disable-emojis"]
	path = plugins/disable-emojis
	url = https://github.com/ryanhellyer/disable-emojis
[submodule "plugins/application-passwords"]
	path = plugins/application-passwords
	url = https://github.com/WordPress/application-passwords.git
